[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
future = "*"
futures = "*"
requests = "*"
python-graphql-client = "*"
py-graphql-client = "*"
simplejson = "*"
pyinstaller = "*"
flatten-json = "*"
PyYAML = "*"

[requires]
python_version = "3.8"
